@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F1ECE9;
  font-family: 'Crimson Text', serif;
}


.navbar a {
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 10px;
  background-color: #054A61;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 25%;
}

.logo>i {
  font-size: 25px;
}

.menunav {
  justify-content: center;
  align-items: center;
  width: 50%;
}

.navuser {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 25px;
  width: 25%;
  min-width: 25%;
}

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3px;
}

.navlinkbot {
  display: none;

}

.search {
  width: 100%;
  position: relative;
  display: flex;
}



.searchTerm {
  width: 100%;
  border: 3px solid white;
  font-size: small;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  background: white;
  border: 0;
  text-align: center;
  color: black;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton i {
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  max-height: 470px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #F3ECE7;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 100%;
  max-height: 300px;
}

.card button {
  border-radius: 30.37px;
  border: 2px solid #BCA37F;
  background: var(--green, #3A9053);
  box-shadow: 0px 6.07407px 6.07407px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  color: white;
  font-family: 'Crimson Text', serif;
}

.card a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BCA37F;
  border: 2px solid #BCA37F;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-btns {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.products {
  display: flex;
  width: 60%;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

/***/
.banner {
  margin-top: 10px;
}

.carousel-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: scale-down;
  border-radius: 20px;
}

.carousel-container>button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}


.about-us {
  padding: 0 25%;
}

/* Estilos específicos para la página Contact Us */

.contact-us {
  padding: 0 25%;

}

.contact-us form {
  margin-top: 20px;
}

.contact-us label {
  display: block;
  margin-bottom: 5px;
}

.contact-us input,
.contact-us textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-us button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.contact-us button:hover {
  background-color: #45a049;
}

/**Login*/

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}

.login-container button {
  background-color: #4285F4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.login-container form {
  text-align: left;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.login-container button[type="submit"] {
  background-color: #4CAF50;
}

.center {
  display: flex;
  justify-content: center;
}

.separator {
  padding: 0px;
  width: 60%;
  color: hsla(15, 18%, 50%, 1);
  border-bottom: 2px solid hsla(15, 18%, 50%, 1);
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.1rem;
  }

  .navlink {
    display: none;
  }

  .navlinkbot {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    width: 100%;
  }
}